<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Rate sites</title>

  <!-- from Bootstrap starter -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a href="/" class="navbar-brand">Home</a>
  <% if session[:admin] || session[:student] %>
    <a href="/logout" class="navbar-brand">Logout</a>
  <% else %>
    <a href="/login" class="navbar-brand">Login</a>
   <% end %>
  <a href="/upload_users" class="navbar-brand">Upload Users</a>
  <a href="/restaurants" class="navbar-brand">Restaurants</a>

  <% if session[:admin] %>
    <a href="/upload_websites" class="navbar-brand">Upload Websites</a>
    <a href="/report" class="navbar-brand">Vote Report</a>
  <% end %>
</nav>


<div class="jumbotron">
  <h1 class="display-4">Rate the restaurants!</h1>
  <p class="lead">This website is used for students to rate the restaurant assignment of other students</p>
</div>


<div class="container">
  <h2>Guide:</h2>
  <p>Create a .csv file with the users. The file contains username, password and role(Student or TA or Instructor) in order. Choose the tab 'Upload Users' in the navbar. Upload the .csv file with the users </p>
  <div class="row">
    <div class="col">
      <h3>Instructor/TA</h3>
      <ol>
        <li>Login as an Instructor/TA</li>
        <li>Go to the 'Upload Websites' in the navbar</li>
        <li>Create a zip file with all website folders from the students called 'restaurants'.</li>
        <li>Upload restaurants.zip</li>
        <li>After the students have voted, go to "Vote Report" and download the report of the votes</li>
      </ol>
    </div>
    <div class="col">
      <h3>Student</h3>
      <ol>
        <li>After the Instructor/TA uploaded the websites, login as a student</li>
        <li>Go to "Restaurants"</li>
        <li>Vote for your favorite restaurants</li>
      </ol>
    </div>
  </div>

</div>

</body>
</html>